@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import "./media.css";

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary-color: rgba(15, 31, 28, 0.5);
    --background-gradient: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
    --background-header: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    --background-burger: linear-gradient(209.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    --color-footer: #FF7C4E;
    --main-color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    color: #0F1F1C;
    overflow-x: hidden;
}


.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* для примера на будущее */
/* .container-left {
	padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
*/
/* .block {
    height: 200px;
    background-color: rgb(201, 14, 14);
}  */



/* header */
.header {
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    overflow: hidden;

    background: var(--background-header);
    color: var(--main-color);
}
.header a {
    color: inherit;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 96px;
    width: 100%;
    /* добавляем внизу хедера СвГ треугольник макету. Нужно удалить в св-в СВГ ширину и длинну в атрибутах и добавить preservAspectRatio="none" */
    background-image: url('./../icons/header/vector.svg');
    background-size: 100%;
    stroke-width: 0;
    border: none;
}
.header__top {
    margin-bottom: 95px;
}

.header__row {
    display: flex;
}

.header__content {
    position: relative;
    max-width: 592px;
    z-index: 1;
}

.header__img {
    position: relative;
    flex-grow: 1;
}
.header__img img {
    position: absolute;
    top: -175px;
    right: -87px;
    /* т.к у нас в блоке картинки нет текста, он пустой и ширина его ноль, то картинка улетела с блока т.к у блока стоит "Абсолют" */
    /* нужно его растянуть, пропишем флекс гроу 1  header__img*/
    /* теперь нужно чтобы картинка не выпадала за блок, пропишем оверфлоу хайден в класс .header */
    height: 940px;
    width: 894px;
    max-width: unset;
    pointer-events: none;  /* св-во чтобы картинка не перекрывала доступ к элементам мыши и не закрывала собой ссылки */
    /* сжалась, в резет.ксс стоит 100%, убираем св-во */
}

.header__img::after {
    content: '';
    position: absolute;
    top: 16px;
    right: -54px;
    width: 830px;
    height: 622px;
    background-image: url('./../icons/header/header_elements.svg');
    pointer-events: none;
    
    
}
/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px; /*расстояние между пунктами меню */
    font-size: 15px;
    font-weight: 500;
}

.nav__list{
    display: flex;
    column-gap: 80px;
    
}

.nav__list a {
    position: relative;
}
/* делаем активную ссылку с подчеркиванием внизу */
.nav__list a.active::after,
.nav__list a:hover::after {
    content: '';
    left: 0;
    bottom: -6px;
    right: 10px;
    position: absolute;
    display: block;
    /* width: 35px; */
    height: 4px;
    border-radius: 50px;
    background-color: #C4C4C4;
}

.nav__login{
    display: flex;
    column-gap: 25px;
    align-items: center;
    
}

/* LOGO */
.logo{
    font-size: 20px;
    font-weight: 700;
   
}
.logo a {
    color: inherit;
}

/* BUTTON */

.btn {
    /* ссылка, у нее не работают блочные св-ва, указываем */
    display: inline-block;
    background: var(--background-gradient);
    
}
.btn:hover {
    transition: color 0.2s ease-in;
    background:#88ea18;
    color: #0F1F1C;
}
/* добавим эффект прожатия когда кнопка активная, смещаем ее  */
.btn:active {
    position: relative;
    top: 1.5px
}
.btn--nav {
    padding: 13px 44px;
    border-radius: 100px;
}

.btn--header {
    padding: 27px 48px;
    border-radius: 27px;
    font-size: 25px;
    font-weight: 600;

}
.nav__toggle {
    display: none;
}

.btn--destinations {
    padding: 25px 45px;
    border-radius: 27px;
    font-weight: 600;
    font-size: 20px;
    color: #FEFEFE;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    background: var(--background-gradient);
}

.slider__btn--prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
}
.slider__btn--next {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-end;
}

.btn--cta {
    padding: 25px 45px;
    border-radius: 27px;
    font-weight: 600;
    font-size: 20px;
    color: #FEFEFE;
}

.btn--nav--footer {
    color: var(--main-color);
}

/* HEADER_CONTENT */
.header__badge {
    display: inline-block;
    padding: 12px 30px;
    margin-bottom: 7px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
}
.header__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 55px;
}
.header__text {
    margin-bottom: 68px;
    font-weight: 700;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
}

/* DESTINATIONS */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
    background-color: #E5E5E5;
    
}

.destinations__row {
    display: flex;
    column-gap: 48px;
}
.destinations__content {
    max-width: 456px;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}
.destinations__title span {
    font-size: 30px;
}
.destinations__text {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 25px;
    color: var(--secondary-color);
}

/* SLIDER */
.destinations__slider {
    width: 1110px;
    flex-shrink: 0;  /* чтобы слайдер не сжимал контент */
    /* у нас появился скролл вправо, убрать скролл, нужно прописать overflow-x; для секции */

}

.slider {
    position: relative;
    /* т.к при прокрутке слайдера, кнопки дергаются вверх из-за разности высоты картинки, мы задаем фикс. высоту слайдера */
    height: 456px;
}
.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;

    transition: 0.2s ease-in;
}

/* .slider__item.active {
    width: 380px;
    height: 456px;
} */

/* Прокрутка слайдера с библиотеки */
.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}

/* CUSTOMERS */

.customers {
    padding: 100px 0 133px;
}

.customers__row {
    display: flex;
    column-gap:68px;
}
.customers__img {
    max-width: 478px;
}
.customers__img img {
    border-radius: 35px;
}
.customers__content {
    width: 565px;
}
.customers__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 35px;

}

/* REVIEW */
.review {
    max-width: 490px;
}
.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;
}
.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    background: var(--background-gradient);
    border-radius: 50%;
}

.review__clien-descr-name {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}
.review__clien-descr-live {
    font-size: 25px;
    color: var(--secondary-color);
}
.review__text {
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: 500;
}

/* CTA */

.cta {
    padding: 100px 0;

}

.cta__plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 580px;
    padding: 40px 15px;
    background-color: var(--main-color);
    border-radius: 60px;
}
.cta__plate:before,
.cta__plate:after {
    width: 63px;
    height: 83px;
    position: absolute;
    content: "";
}
.cta__plate:before {
    left: 74px;
    bottom: 56px;
    background-image: url("./../icons/cta-el-01.svg");
}
.cta__plate:after {
    top: 74px;
    right: 80px;
    background-image: url("./../icons/cta-el-02.svg");
}
.cta__title {
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 500;
}
.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary-color);

}

/* SUBSCRIBE */

.subscribe {
    min-height: 606px;
    padding: 21px 0 68px 0;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subscribe__title {
    margin-bottom: 74px;
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
}
/* .subscribe-form */

.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: var(--main-color);
    display: flex;
    column-gap: 191px;
    text-align: center;
}

.subscribe-form__input {
    font-weight: 500;
    font-size: 24px;
    line-height: 0.72;
    color: var(--secondary-color);
}
.subscribe-form__input::placeholder {
    color: var(--secondary-color);
}

.subscribe-form__btn {
    padding: 34px 86px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 600;
    color: var(--main-color);
}

/* FOOTER */

.footer {
    padding: 50px 100px 74px 97px;
    
}
/* .footer a {
    
} */
.nav__login_link,
.nav__list--footer a {
    color: var(--secondary-color);
}

.nav__list--footer a.active::after,
.nav__list--footer a:hover::after {
    display: none;
}

.logo.logo--footer,
.nav__list--footer a.active,
.nav__list--footer a:hover {
    color: var(--color-footer);
}


/* MENU_ICON */
.menu-icon-wrapper {
	--time: 0.2s;
	--width: 45px;
	--height: 35px;
	--line-height: 4px;
	--color: #fff;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}
